container_commands:
  01_build:
    command: "npm install"
    cwd: "/var/app/current/client"
  02_build:
    command: "npm run build"
    cwd: "/var/app/current/client"
  03_start_server:
    command: "npm start"
    cwd: "/var/app/current/server"
  04_start_proxy:
    command: "node server.js"
    cwd: "/var/app/current/proxy/src"