container_commands:
  01_build:
    command: "npm install"
    cwd: "/var/app/current/client"
  02_build:
    command: "npm run build"
    cwd: "/var/app/current/client"
  03_start_server:
    command: "npm start > /var/log/node/server.log 2>&1"
    cwd: "/var/app/current/server"
  04_start_proxy:
    command: "node server.js > /var/log/node/proxy.log 2>&1"
    cwd: "/var/app/current/proxy/src"